<section class="section-background-colour1-light section-home-login">
         <div class="section-wrapper">
            <div class="text-center">
               <h1>Welcome back!</h1>
            </div>
         </div>
      </section>

<section>
         <div class="section-wrapper text-center">
            <img src="{{unbound headerImgUrl}}"> 
            <h1 style="margin: 0 auto; max-width: 900px;">Concerning me is a free, safe, and effective platform for people to discuss their concerns with others</h1>
            <div class="layout-twothirds-center text-center">
               <p>We are dedicated to facilitating discussion of current events, issues, and government policies affecting your community.  Tell us where you are and we'll do the work to keep you up to date on the issues you care about in your area. No more endless browsing for issues you care about in your community. </p>
               <a class="button button-sign-up" href="/signup" data-track="Sign Up"> Sign Up - It's Free. </a>   
            </div>
            <div class="layout-twothirds-center text-center">
               <p> <a href="/login" class="quiet" data-track="Login" style="padding: 1em 2em;"> Or log in </a> </p>
            </div>
         </div>
      </section>
      <section class="section-background-colour1">
         <div class="section-wrapper">
            <div class="layout-twothirds-center text-center">
               <p><h2>Civilized Discussion</h2>We strive to create an inclusive and safe environment for discussing the issues that matter most. We accomplish this by requiring everyone to abide by a set of <a href="/t/welcome-to-the-cme-discussion-forum-read-first/10000">ground rules</a>.</p>
				<p>ConcerningMe is based on a leading edge discussion platform called Discourse.  Discourse is a 100% open source discussion platform built for the next decade of the Internet.  It's a game changer when it comes to on-line discussion software. </p>
               <a class="outline-link" href="http://www.discourse.org/faq/" target="_new">Learn more about Discourse</a> 
            </div>
         </div>
      </section>
<section class="section-background-faded-colour1 section-devices" data-track-prefix="Mid Page">
         <div class="section-wrapper layout-grid-frame">
            <div class="layout-callout-right"> <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/b001cabdefbd6c7968ee9d1ad40124b0/home-devices.png" alt="Trello on devices."> </div>
            <div class="layout-twothirds-left">
                    <h2>Trust System</h2>
                    <p>Our trust system encourages good behaviour by rewarding actions that benefit the community. These actions are as simple as reading topics, liking posts, and commenting.</p>
					<p>As your reputation grows, you gain new abilities to participate and maintain the community.</p>
            </div>
         </div>
      </section>      
<section class="section-powerups">
         <div class="section-wrapper layout-grid-frame">
            <div class="layout-callout-right"> <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/45628ca89b3637e34e5e51737068ffbb/home-power-up-icons.png" alt="Power-Ups"> </div>
            <div class="layout-twothirds-left">
                    <h2>Polls</h2>
                    <p>Quickly check the pulse of the community by starting a poll and analysing the results.</p>
            </div>
         </div>
      </section>

      <section class="section-background-colour1">
         <div class="section-wrapper">
            <div class="layout-twothirds-center text-center">                      
			<h2>Real Name Not Required</h2>
            <p>Some of the issues discussed here are sensitive which is why we don't require you to tell us who you are. We know there are some who hide behind anonymity to spew hatred and negativity, but don't worry, our trust and community moderation system will take care of them :).</p>
            </div>
         </div>
      </section>
      <section class="section-background-colour2" data-track-prefix="Mid Page">
         <div class="section-wrapper layout-grid-frame">
            <div class="layout-callout-left layout-callout-down2"> <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/b2acb9906c56430e4e0221ddf26aa093/business-class-logo-white.svg" alt="Business Class" height="130"> </div>
            <div class="layout-twothirds-right">
				<h2>Bring your friends</h2>
				<p>Once you&rsquo;re trusted, you can click a button to invite your friends via email and they can reply to your topic with a single click. Staff can easily invite an entire group of people by uploading email addresses.</p>			
               <a class="button button-sign-up" href="/signup"> Sign Up - It's Free. </a> 
            </div>
         </div>
      </section>
<footer class="quiet" data-track-group="Footer">
         <ul>
            <li>{{#link-to 'about'}}About{{/link-to}}</a></li>
            <li><a href="privacy-policy.htm">Privacy</a></li>
         </ul>
         <p>&copy; Copyright 2015, Inner Loop Software. All rights reserved. </p>
      </footer>
